
.global_modal
{
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;

    display: none;

    width: 25%;
    height: 100vh;

    background-color: #000;
    & .modal_close
    {
        position: absolute;
        top: 2%;
        left: 10%;
    }
}
.global__form
{
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 65%;
    margin-top: 54px;

    border-top: 1px solid #cacaca;
    border-bottom: 2px solid #cacaca;

    align-items: center;

    & label
    {
        font-size: 20px;

        margin: 4% 0 4% 10%;

        color: #fff;

        align-self: start;
    }

    & input
    {
        font-size: 18px;

        min-width: 55%;
        padding: 10px 60px 10px 30px;

        color: #d3d3d3;
        border: 1px solid #ff0342;
        border-radius: 6px;
        outline: none;
        background-color: transparent;

        &:focus
        {
            border-color: rgb(0, 24, 154);
        }
    }

    & textarea
    {
        font-size: 18px;

        width: 57%;
        min-width: 50%;
        max-width: 60%;
        height: 8%;
        min-height: 7%;
        max-height: 9%;
        padding: 10px 60px 10px 30px;

        color: #d3d3d3;
        border: 1px solid #ff0342;
        border-radius: 6px;
        outline: none;
        background-color: transparent;
    }
    .global__input-name
    {
        position: relative;
    }
    .global__textarea-message
    {
        position: relative;
    }
    .flag-left
    {
        position: relative;
        &::before
        {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 2%;

            width: 20px;
            height: 16px;
            margin: auto 0;

            content: '';

            background: url('../img/flag.svg') no-repeat;
            background-size: cover;
        }
        &::after
        {
            position: absolute;
            top: 0;
            right: 2%;
            bottom: 0;

            width: 20px;
            height: 20px;
            margin: auto 0;
            padding-left: 11.55%;

            content: '';

            border-left: 1px  solid #cacaca;
            background: url('../img/phone.png') no-repeat center;
        }
    }
    .email-right
    {
        position: relative;
        &::after
        {
            position: absolute;
            top: 0;
            right: 2%;
            bottom: 0;

            width: 20px;
            height: 20px;
            margin: auto 0;
            padding-left: 11.55%;

            content: '';

            border-left: 1px  solid #cacaca;
            background: url('../img/email.png') no-repeat center;
        }
    }
    & .global__send
    {
        font-size: 20px;

        margin: 10px 0;
        padding: 10px 20px;

        cursor: pointer;

        color: #fff;
        border: none;
        border-radius: 8px;
        outline: none;
        background-color: #ff0342;
        &:hover
        {
            background-color: #d40336;
        }
    }
}
.global__btn
{
    position: fixed;
    right: 5%;
    bottom: 5%;

    display: block;

    cursor: pointer;

    border: none;
    border-radius: 50%;
    background: #a10066;
    & img
    {
        width: 50px;
        height: 50px;
        padding: 4px;
    }
}
